@font-face {
  font-family: "cybor";
  src: url(font/Cyborg.074aa61276a2a2f121a4.ttf);
}
@font-face {
  font-family: "exos";
  src: url(font/ExoSpace.606b1a1e5fed2c8afb24.ttf);
}
@keyframes slideDown {
  from {
    transform: translateY(
      -100%
    ); /* Inicia fuera de la vista, arriba del viewport */
    opacity: 0; /* Comienza completamente transparente */
  }
  to {
    transform: translateY(0); /* Termina en la posición normal */
    opacity: 1; /* Completamente visible */
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cybor", "exos";
}

body {
  background-image: linear-gradient(rgba(5, 8, 16, 0.6), rgba(5, 8, 16, 0.6)),
    url(img/fondo1.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
}

section header nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  padding: 2% 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #10e95582;
  /* Animacion para que aparezca el menu de forma progresiva */
  animation: slideDown 2s ease forwards;
}
section header nav .home,
section header nav li a {
  color: #14e956;
  background: rgba(2, 30, 2, 0.916);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 5px 10px;
}
section header nav .home:hover,
section header nav li a:hover {
  color: rgba(2, 30, 2, 0.916);
  background: #14e956;
}
section header nav .home {
  font-size: 2em;
  padding: 5px 10px;
  transition: 0.3s;
}

section header nav .home:hover {
  transition: 1s;
  border-bottom: 5px solid rgba(1, 28, 1, 0.588);
  /* Se utiliza para que cuando pasamos por encima el cursor haga el efecto de girar y ahumentar la escala */
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
section header nav .navbar {
  display: flex;
}
section header nav li {
  list-style: none;
  font-size: 1.6em;
  margin-left: 30px;
}
section header nav li a {
  padding: 10px;
  transition: 0.3s;
}
section header nav li a:hover {
  transition: 0.7s;
  border-bottom: 5px solid rgba(1, 28, 1, 0.588);
  padding: 5px;
}
.contenido {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.tituloBox h2 {
  font-size: 2em;
  color: #f5f5f5;
  font-family: "exos";
  text-transform: uppercase;
  transition: 0.5s;
}
.tituloBox .texto1,
.tituloBox .texto2 {
  color: #14e956;
  font-family: "cybor";
}
.tituloBox .texto1 {
  font-size: 1.5em;
}
.tituloBox .texto2 {
  background: rgba(2, 30, 2, 0.943);
  border-radius: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2em;
}
.tituloBox .frase {
  padding-top: 10px;
  font-size: 1.5em;
  color: #f5f5f5;
  font-family: "exos";
  transition: 1s;
}
.tituloBox .sobre {
  position: relative;
  text-decoration: none;
  background: #14e956;
  color: rgba(2, 30, 2, 0.943);
  border-radius: 5px;
  letter-spacing: 3px;
  font-size: 1.5em;
  padding: 0 10px 0 10px;
  top: 15px;
  transition: 1s;
}
.tituloBox h2:hover,
.frase:hover {
  transform: scale(1.2);
}
.tituloBox .sobre:hover {
  background: #f5f5f5;
}

.redes {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px 30px;
  list-style: none;
}
.redes li {
  padding: 10px;
}
.redes li a ion-icon {
  transition: 0.5s;
  color: #14e956;
  font-size: 2.5em;
}
.redes li a ion-icon:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #f5f5f5;
}
.copy {
  position: absolute;
  bottom: 1px;
}
.copy p {
  font-family: "exos";
  font-size: 1em;
}
@media (width<1200px) {
  section header nav {
    height: 8%;
    padding: 2% 50px;
  }

  section header nav .home {
    font-size: 1.4em;
  }
  section header nav li {
    font-size: 1em;
  }
  section header nav li a {
    padding: 5px;
  }
  .tituloBox,
  .copy {
    font-size: 18px;
  }
  .contenido {
    flex-wrap: wrap;
    text-align: center;
  }
  .imgBox {
    margin-top: 100px;
  }
  .imgBox img {
    width: 25em;
  }
}
@media (width<800px) {
  section header nav .navbar {
    display: none;
  }
  .redes {
    position: unset;
  }
  .imgBox img {
    width: 15em;
  }
  .tituloBox,
  .copy {
    font-size: 14px;
  }
}
@media (width<1200px) and (height<800px) {
  section {
    height: 100%;
  }
}
